@import 'tailwindcss';

@theme{
  --color-prime-gray:#C8C8C8;
  --color-prime-grayV2:#C8C8C81A;
  --color-prime-navyBlue:#020617;
  --color-prime-navyBlueV2:#0206171A;
  --color-prime-blue:#0B217D;
  --color-prime-orange:#FF6600;
  --color-prime-orangeV2:#FF660080;
  --color-prime-purple:#800080;
  --color-prime-purpleV2:#80008080;
  --color-prime-pink:#D1565E;
  --color-prime-pinkV2:#D1565E80;
  --color-prime-black:#231F20;
  --color-prime-blackV2:#231F2080;
  --width-85percent:85%;
  --width-95percent:95%;
  --height-85percent:70%;
  --height-95percent:95%;
  --aspect-ratio-3-2:3/2;
}
@layer components{
  body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    @apply
    bg-gradient-to-b from-prime-navyBlue to-prime-blue
    
    ;
  }
}
@layer components{
  body::-webkit-scrollbar{
    @apply
    hidden
    ;
    
  }
}
@layer components{
  nav{
    @apply
    flex
    w-full
    sticky
    flex-row
    bg-prime-grayV2
    backdrop-blur-sm
    top-0
    
    lg:justify-between
    justify-center
    items-center
    font-semibold
    text-white
    lg:rounded-b-3xl
    lg:rounded-t-none
    rounded-b-2xl
    m-0
    border
    lg:border-none
    border-prime-gray
    z-20
    ;
  }
}
@layer components{
  nav ul{
    @apply
    flex
    justify-center
    items-center
    mx-5
    lg:gap-5
    gap-2
    lg:text-lg
    text-xs
    ;
  }
}
@layer components{
  nav ul li:not(:nth-child(4)){
    @apply
    p-4
    cursor-pointer
    ;
  }
}
@layer components{
  nav ul li{
    @apply
    flex
    lg:flex-row
    flex-col
    items-center
    gap-2
    ;
  }
}
@layer components{
  nav ul li img{
    @apply
    size-5
    ;
  }
}
@layer components{
  nav ul li:not(:nth-child(4)):hover{
    @apply
    bg-prime-grayV2
    duration-300
    ;
  }
}
@layer components{
  .contact{
    @apply
    lg:bg-prime-orange
    lg:px-5
    lg:py-2
    cursor-pointer
    rounded-2xl
    ;
  }
}
@layer components{
  .active-hover{
    @apply
    bg-prime-grayV2
    duration-300
    ;
  }
}
@layer components{
  .landing-page-section{
  @apply
  overflow-hidden
  ;
  }
}
@layer components{
  .landing-page-container{
    @apply
    bg-prime-grayV2
    lg:text-start
    text-white
    lg:grid
    lg:grid-cols-3
    lg:items-start
    flex
    flex-col
    items-center
    justify-between
    rounded-2xl
    text-center
    ;
  }
}
@layer components{
  .landing-page-container article{
    @apply
    flex
    flex-col
    lg:items-start
    items-center
    justify-start
    p-2
    break-words
    m-5
    gap-2
    ;
  }
}
@layer components{
  .landing-page-container article span img{
    @apply
    size-9
    cursor-pointer
    p-1
    border-b-0
    ;
  }
}
@layer components{
  .landing-page-container article span img:hover{
    @apply
    bg-prime-grayV2
    duration-300
    
    rounded-md
    ;
  }
}
@layer components{
  .landing-page-container article label{
    @apply
    lg:text-7xl
    text-5xl
    font-semibold
    ;
  }
}
@layer components{
  button{
  @apply
  bg-prime-orange
  border-2
  border-prime-orange
  hover:bg-prime-orangeV2
  duration-300
  px-5
  py-1
  text-center
  rounded-xl
  cursor-pointer
  font-medium
  lg:text-base
  text-sm
  ;
  }
}
@layer components{
  .landing-quick-view{
    @apply
    grid-cols-2
    grid
    p-2
    lg:gap-5
    gap-2
    overflow-y-auto
    lg:m-5
    ;
  }
}
@layer components{
  .landing-quick-view-container{
    @apply
    bg-gradient-to-b from-prime-purple to-prime-pink
    p-2
    flex
    flex-col
    font-semibold
    justify-between
    items-start
    rounded-2xl
    lg:h-52
    lg:w-full
    
    text-2xl
    ;
  }
}
@layer components{
  .landing-quick-view-container img{
    @apply
    size-10
    ;
  }
}
@layer components{
  .landing-quick-view-container-span{
    @apply
    flex 
    flex-col 
    justify-center 
    items-end
    ;
  }
}
@layer components{
  .aboutme-section{
    @apply
    lg:grid
    lg:grid-cols-2
    
    flex
    flex-col
    items-center
    justify-center
    overflow-hidden
    gap-y-5
    ;
  }
}
@layer components{
  .aboutme-profile{
    @apply
    overflow-hidden
    flex
    flex-col
    justify-center
    relative
    lg:w-xs
    w-1/2
    ;
  }
}
@layer components{
  .aboutme-profile span{
    @apply
    bg-gradient-to-b from-prime-purple to-prime-pink
    p-2
    h-85percent
    
    bottom-0
    absolute
    overflow-hidden
    w-full
    rounded-t-2xl
    -z-10
    ;
  }
}
@layer components{
  .about-info-layout{
    @apply
    grid
    grid-cols-2
    justify-center
    items-stretch
    lg:gap-3
    gap-1
    my-2
    ;
  }
}
@layer components{
  .about-info-container{
    @apply
    bg-gradient-to-b from-prime-purpleV2 to-prime-pinkV2
    p-2
    text-white
    rounded-2xl
    border-prime-pink
    border-2
    flex
    flex-col
    justify-start
    items-center
    gap-2
    ;
  }
}
@layer components{
  .about-info-container article{
    @apply
    text-center
    tracking-wide
    leading-loose
  }
}
@layer components{
  .about-info-container article label{
    @apply
    lg:text-3xl
    text-xl
    font-semibold
  }
}
@layer components{
  .about-info-container article p{
    @apply
    lg:text-base
    text-xs
  }
}
@layer components{
  .skill-section{
    @apply 
    block
    bg-prime-grayV2
    rounded-2xl
    p-5
    text-white
    my-5
    overflow-visible
    ;
  }
}
@layer components{
  .skill-container-layout::-webkit-scrollbar{
    @apply 
    lg:invisible
    visible
  }
}
@layer components{
  .skill-section-heading{
    @apply
    flex
    flex-col
    justify-center
    items-center
    gap-2
    ;
  }
}
@layer components{
  .skill-section-heading label{
    @apply
    lg:text-3xl
    text-xl
    uppercase
    font-semibold
    ;
  }
}
@layer components{
  .skill-container-layout {
    @apply
    flex
    flex-row
    items-stretch
    lg:justify-center
    justify-start
    gap-2
    p-2
    lg:w-full
    w-80
    overflow-auto
    snap-mandatory
    snap-x
    
    ;
}
}
@layer components{
  .skill-container{
    @apply
    flex
    flex-col
    flex-shrink-0
    justify-start
    items-center
    p-2
    relative
    overflow-hidden
    w-40
    text-center
    break-words
    snap-start
    ;
  }
}
@layer components{
  .skill-container span{
    @apply
    bg-prime-pinkV2
    w-full
    h-85percent
    border-2
    border-prime-pink
    p-2
    bottom-0
    absolute
    rounded-lg
    -z-10
    ;
  }
}
@layer components{
  .skill-container label{
    @apply
    lg:text-xl
    text-lg
    font-semibold
    ;
  }
}
@layer components{
  .button-container{
    @apply
    bg-transparent
    rounded-lg
    border-prime-orange
    border-2
    inline-flex
    items-center
    justify-center
    
    ;
  }
}
@layer components{
  .button-container button{
    @apply
    p-4
    rounded-none
    border-0
    font-semibold
    bg-prime-orangeV2
    ;
  }
}

@layer components{
  .active-button2{
    @apply
    bg-prime-orange
    ;
  }
}
@layer components{
  .offer-section{
    @apply
    text-white
    w-full
    bg-gradient-to-l from-prime-purpleV2 to-prime-pinkV2
    border-2
    border-prime-pink
    rounded-xl
    overflow-hidden
    ;
  }
}
@layer components{
  .offer-title{
    @apply
    lg:text-2xl
    font-semibold
    bg-prime-pink
    rounded-xl
    p-2
    ;
  }
}
@layer components{
  .offer-container{
    @apply
    flex
    lg:flex-row
    flex-col
    lg:gap-20
    gap-5
    p-5
    justify-start
    items-center
    
    ;
  }
}

@layer components{
  .offer-container form{
    @apply
    flex
    flex-col
    text-start
    items-stretch
    justify-start
    gap-2
    size-full
    ;
  }
}
@layer components{
  .offer-container form input{
    @apply
    border
    p-1
    rounded-md
    outline-0
    w-full
    ;
  }
}
@layer components{
  .footer-section{
    @apply
    block
    relative
    bottom-0
    w-full
    bg-prime-grayV2
    text-white
    rounded-t-3xl
    p-5
    ;
  }
}
@layer components{
  .footer-container{
    @apply
    lg:grid
    lg:grid-cols-3
    lg:items-start
    items-center
    justify-center
    lg:gap-3
    flex
    flex-col
    gap-y-6
    ;
  }
}
@layer components{
  .footer-container img{
    @apply
    size-8
    cursor-pointer
    ;
  }
}
@layer components{
  .project-section{
    @apply
    block
    bg-prime-grayV2
    text-white
    rounded-2xl
    p-5
    overflow-hidden
    ;
  }
}
@layer components{
  .project-header-container{
    @apply
    flex
    flex-col
    items-center
    justify-center
    border-b-4
    p-2
    border-prime-pink
    ;
  }
}
@layer components{
  .project-contents{
    @apply
    grid
    lg:grid-cols-4
    grid-cols-1
    lg:gap-5
    gap-2
    w-full
    items-stretch
    
    ;
  }
}
@layer components{
  .project-contents div{
    
    @apply
    bg-prime-blackV2
    border-2
    border-prime-black
    rounded-lg
    p-2
    overflow-hidden
    break-words
    flex
    flex-col
    gap-5
    relative
    justify-between
    ;
  }
}
@layer components{
  .project-contents div header{
    
    @apply
    text-xl
    font-semibold
  }
}
@layer components{
  .project-contents div summary{
    
    @apply
    lg:text-sm
    text-xs
    list-none
    
  }
}
@layer components{
  .project-contents div img{
    
    @apply
    rounded-lg
    aspect-ratio-3-2
    ;
  }
}
@layer components{
  .project-other-info{
    @apply
    flex
    flex-col
    gap-2
    bg-transparent
    text-xs
    ;
  }
}
@layer components{
  .project-other-info span label{
    @apply
    text-prime-gray
    ;
  }
}
@layer components{
  .span-button{
    @apply
    flex
    gap-2
    items-stretch
    justify-end
    ;
  }
}
@layer components{
  .span-button button{
    @apply
    w-full
    p-0
    bottom-0
    
    ;
  }
}

@layer components{
  .span-button a img{
    @apply
    size-7
    ;
  }
}
@layer components{
  .span-button a{
    @apply
    bg-prime-orangeV2
    flex
    justify-center
    items-center
    py-1
    px-2
    border
    border-prime-orange
    rounded-lg
    ;
  }
}
@layer components{
  .widgets-section{
    @apply
    grid
    lg:grid-cols-4
    grid-cols-2
    items-stretch
    text-prime-black
    p-5
    lg:gap-5
    gap-2
    ;
  }
}
@layer components{
  .widgets-container{
    @apply
    flex
    flex-col
    items-center
    justify-center
    text-white
    bg-gradient-to-t from-prime-pinkV2 to-prime-purpleV2
    rounded-2xl
    p-2
    border-2
    border-prime-pink
    overflow-hidden
    
    ;
  }
}
@layer components{
  .widgets-container span label{
    @apply
    lg:text-base
    text-xs
    
    ;
  }
}
@layer components{
  .widgets-container article header{
    @apply
    flex
    items-center
    justify-center
    text-white
    font-semibold
    lg:text-xl
    text-sm
    rounded-2xl
    lg:p-5
    p-2
    ;
  }
}
@layer components{
  .widgets-container article{
    @apply
    flex
    items-center
    justify-center
    gap-0
    ;
  }
}
@layer components{
  .widgets-circular-bar{
    @apply
    p-2
    lg:size-24
    size-20
    rounded-full
    bg-transparent
    border-8
    border-prime-orange
    flex
    justify-center
    items-center
    text-xl
    shadow-lg
    shadow-prime-orangeV2
    ;
  }
}
@layer components{
  .widgets-circular-bar-v2{
    @apply
    p-2
    lg:size-24
    size-20
    rounded-full
    bg-transparent
    border-8
    border-green-500
    flex
    justify-center
    items-center
    text-base
    shadow-lg
    shadow-green-500
    ;
  }
}
@layer components{
  .services-layout{
    @apply
    grid
    lg:grid-cols-4
    grid-cols-2
    lg:gap-5
    gap-2
    items-stretch
    text-white
    
    ;
  }
}
@layer components{
  .services-card{
    @apply
    flex
    flex-col
    items-center
    justify-start
    text-center
    overflow-hidden
    relative
    lg:p-5
    p-2
  }
}
@layer components{
  .header{
    @apply
    lg:text-2xl
    text-base
    font-semibold
    text-center
    border-b-4
    border-prime-pink
  }
}
@layer components{
  .card-container{
    @apply
    absolute
    h-85percent
    w-full
    bg-gradient-to-r from-prime-purpleV2 to-prime-pinkV2
    -z-10
    bottom-0
    rounded-lg
    ;

  }
}
@layer components{
  .experience-section{
    @apply
    grid
    lg:grid-cols-2
    items-start
    text-white
    gap-5
    my-5
    ;
  }
}
@layer components{
  .experience-container{
    @apply
    bg-prime-grayV2
    flex
    flex-col
    lg:p-5
    p-2
    rounded-2xl
    lg:gap-5
    gap-3
    ;
  }
}
@layer components{
  .experience-card{
    @apply
    bg-prime-blackV2
    lg:p-2
    p-1
    rounded-lg
    flex
    items-center
    justify-between
    gap-4
    ;
  }
}
@layer components{
  .experience-card article{
    @apply
    flex
    items-center
    justify-start
    gap-4
    ;
  }
}
@layer components{
  .experience-card article p{
    @apply
    lg:text-sm
    text-xs
    ;
  }
}
@layer components{
  .button-experience{
    @apply
    bg-prime-grayV2
    shadow-xl
    flex
    justify-between
    items-center
    rounded-xl
    w-full
    text-xl
    p-3
    ;
  }
}
@layer components{
  .button-experience Link,.button-experience button{
    @apply
    bg-prime-orangeV2
    rounded-full
    p-2
    ;
  }
}


